<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="/Content/main.css" rel="stylesheet">
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.yeti.min.css" rel="stylesheet" />
</head>
<body ng-app="app">

    <div ng-view>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <p class="navbar-brand navbar-left ">FIKT FINANCE</p>
                </div>
                <div>
                    <p class="navbar-text navbar-right "><a href="#" class="navbar-link">Log out</a></p>
                </div>
                <div>
                    <p class="navbar-text navbar-right ">Signed in as User Name(ID?)</p>
                </div>
            </div>
        </nav>

        <form ng-controller="ctrlDocumentType as ctrl">
            <fieldset class="col-lg-10 col-lg-offset-1">
                <legend> ФАКТУРА </legend>
                <div class="container" style="margin: 20px 0px 20px 0px; padding: 30px ; background-color: #dddddd ">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Идентификационен број: </strong></label>
                            <div class="col-sm-9">
                                <input class="form-inline" type="text" placeholder="Privremeno" disabled>
                            </div>
                        </div>
                        <!--<select class="form-control" id="locationInput"
                    ng-options="option.Name for option in ctrlProject.locationsCollection
                     track by option.Id"
                     ng-model="ctrlProject.selectedLocation" select>-->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                <strong>Тип на документ:</strong>
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="documentTypeInput"
                                        ng-options="option.Flag for option in ctrl.docTypeCollection track by option.Id"
                                        ng-model="ctrl.selectedDocType">
                                    <option value="{{option.Id}}">{{option.Flag}}</option>
                                    <option></option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Број на фактура:</strong>  </label>
                            <div class="col-sm-9"><input type="text" class="form-inline" /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Дата на фактура: </strong></label>
                            <div class="col-sm-9"><input type="date" class="form-inline" /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Година на фактура:</strong>  </label>
                            <div class="col-sm-9">
                                <input type="number" class="form-inline" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong> Customer:</strong></label>
                            <div class="col-sm-9">
                                <select class="form-inline">
                                    <option>Customer1</option>
                                    <option>Customer2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Надворешен број на фактура:</strong> </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-inline" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Надворешна дата на фактура:</strong> </label>
                            <div class="col-sm-9">
                                <input type="date" class="form-inline" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Опис:</strong> </label>
                            <div class="col-sm-9">
                                <textarea rows="5" class="form-inline"> </textarea>
                            </div>
                        </div>
                        <div style="margin:70px 100px 50px 50px">
                            <button type="button" style=" width: 100px" class="btn btn-success btn-md pull-right ">ВНЕСИ</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>


        <form>
            <fieldset class="col-lg-10 col-lg-offset-1">
                <legend> ФАКТУРА  бр..</legend>
                <div class="container">

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><strong>Ставки</strong></div>

                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table" id="myTable">

                                <tr>
                                    <th col-lg-1>Категорија:</th>
                                    <th col-lg-1>Ставка:</th>
                                    <th col-lg-1>Количина:</th>
                                    <th col-lg-1>Нето износ:</th>
                                    <th col-lg-1>Валута:</th>
                                    <th col-lg-1>Данок:</th>
                                    <th col-lg-1>Попуст:</th>
                                    <th col-lg-1>Бруто износ:</th>
                                    <th col-lg-1>     </th>

                                <tr class="stavka">
                                    <td col-lg-1>
                                        <select class="form-inline">
                                            <option>пр 1</option>
                                            <option>пр 2</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-inline">
                                            <option>Ставка 1</option>
                                            <option>Ставка 2</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" class="form-inline" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-inline" />
                                    </td>
                                    <td>
                                        <select>
                                            <option>MKD</option>
                                            <option>EUR</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-inline" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-inline" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-inline" />
                                    </td>
                                    <td>
                                        <button type="button" class="glyphicon glyphicon-plus"></button>

                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>


        <form>
            <fieldset class="col-lg-10 col-lg-offset-1">
                <legend> ДЕТАЛИ НА ПЛАЌАЊЕ</legend>
                <div class="container" style="margin: 20px 0px 20px 0px; padding: 30px ; background-color: #dddddd ">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Начин на плаќање:</strong></label>
                            <div class="col-sm-9">
                                <select class="form-inline">
                                    <option>Кеш- кеш -кеш $$$$$</option>
                                    <option>Фактура</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Дата на доспевање: </strong></label>
                            <div class="col-sm-9">
                                <input type="date" class="form-inline" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Платено:</strong> </label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-inline" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label"><strong>Дата на плаќање:</strong> </label>
                            <div class="col-sm-9">
                                <input type="date" class="form-inline" />
                            </div>
                        </div>

                        <div style="margin: 50px 100px 50px 50px">
                            <button style=" width: 100px" type="button" class="btn btn-success btn-md pull-right">ЗАЧУВАЈ</button>
                        </div>
                    </div>
                </div>


            </fieldset>

        </form>
    </div>


    <!--external libraries-->
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/jQuery/jquery-3.1.0.min.js"></script>
    <script src="scripts/angular/angular-animate.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular/angular-translate.min.js"></script>
    <script src="Scripts/angular/smart-table.min.js"></script>
    <script src="Scripts/angular/angular-cookies.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>
    <script src="scripts/angular/angular-image-compress.js"></script>
    <!--modules-->
    <script src="app/app.module.js"></script>
    <script src="app/shared/shared.module.js"></script>
    <!--services-->
    <script src="app/shared/repository.service.js"></script>
    <script src="app/shared/web.service.js"></script>
    <script src="app/shared/app.config.js"></script>
    <!--controllers-->
    <script src="app/controllers/test.controller.js"></script>
    <script src="app/controllers/ctrlDocumentType.js"></script>
    <!--jQuery-->
    <script>
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>

</body>
</html>
