<!DOCTYPE html>
<html >
<head>
    <title></title>
<meta charset="utf-8" />
</head>
<body ng-app="app">
    <div ng-controller="test">
        <button ng-click="getData()"> Data </button>
        <div data-ng-repeat="x in result">
            <span >{{x.Id}}</span>
            <span>{{x.CurrencyName}}</span>
            <span>{{x.CurrencyValue}}</span>
        </div>
    </div>


    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular/angular-route.min.js"></script>
    <script src="scripts/jQuery/jquery-3.1.0.min.js"></script>
    <script src="scripts/angular/angular-animate.min.js"></script>
    <script src="scripts/angular/angular-sanitize.min.js"></script>
    <script src="scripts/angular/angular-translate.min.js"></script>
    <script src="Scripts/angular/smart-table.min.js"></script>
    <script src="Scripts/angular/angular-cookies.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>
    <script src="scripts/angular/angular-image-compress.js"></script>
    <!--modules-->
    <script src="app/app.module.js"></script>
    <!--controllers-->
    <script src="app/controllers/test.controller.js"></script>
    <!--jQuery-->
    <script>
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a')) {
                $(this).collapse('hide');
            }
        });
    </script>
</body>
</html>
